
*{
    margin: 0;
    padding: 0;
    border: 0;
    
}
@font-face {
    font-family: ;
    src: url(fontes/idroid.otf) format(opentype); 
}

body{background-color: #0AE58D;}

header{background-image: linear-gradient(to bottom, #007c21,#01a02b);
margin: 0px;
padding: 10px 0px 0px 0px;}

header > p {text-align: center;
color: white;
padding: 5px;}

h1{text-align: center;
color: white;
margin: 5px;
padding: 10px;}

nav{text-align: left;
color: white;
padding: 10px;}

main{background-color: white;
color: black;
margin: auto;
height: 1500px;
width: 600px;
padding: 10px;
}

section#conteudo {text-align: justify;
padding: 10px;
height: auto;}

section#conteudo > h1 {color: #007c21;
    text-align: left;}

    section#conteudo > h2 {color: #007c21;
        text-align: left;
        padding: 10px;
        margin: 5px;}
        img {width: 600px;}
        picture#irina > img {width: 580px;}
    
        p{text-indent: 20px;
        text-align: justify;}

footer{background-color: #007c21;
text-align: center;
padding: 1px;
font-weight: bold;}

section#segunda {background-color: #3fcc65;
margin: 10px;
height: auto;
padding: 10px;}

section#segunda >h3 {color: #178b36;}



